*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
	background: #1D202B;
	color: rgb(9, 9, 9);
	font-family: 'Roboto', sans-serif;
}
nav{
    background: #34228b;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 2;
}

.container{
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    line-height: 80px;
    z-index: 100;
}

.container-logo{
    margin-left: 20px;
    z-index: 100;
    cursor: pointer;
}

.button {
    width: 60px;
    height: 60px;
    margin: 0.7%;
    background-color: #34228b;
    border: #34228b;
    position: fixed;
    margin-left: -15%;
}

.container-logo h2{
    color: #ffffff;
    font-weight: 300;
    font-size: 35px;
    letter-spacing: 2px;
}

.links .link{
    display: inline-block;
}

.links .link a{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    margin: 0 2px;
    letter-spacing: 3px;
    transition: .3s;
}

.link .link a:hover{
    color: #487abb;
}

.toggle{
    color: #d1faf4;
    margin-right: 20px;
    font-size: 30px;
    transform: rotate(90deg);
    cursor: pointer;
    transition: .3s;
    display: none;
}

.rotate{
    transform: rotate(180deg);
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}


.contenedor{
	width: 80%;
	margin: auto;
    padding: 40px 0;
    display: flex;
    gap: 30px;
}

.titulo {
	font-size: 24px;
	padding: 20px 0;
}

.contenedor-conciertos {
    width: 90%;   
    margin-top: 5%;
	
}

/* .box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
} */

.card {
	display: flex;
	flex-wrap: wrap;
	border-radius: 10px;
	min-height: 300px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
    margin-bottom: 4%;
    margin-top: 0%;
    /* width: 60%; */
}

.event-info{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 110%;
}

.textos{
    background-color: #ffffff00;
    opacity: 1.0;
    color: white;
    width: 90%;
}

.textos h1 {
	margin-top: 8%;
    padding-bottom: 5%;
    color: #d32e28;
    padding-bottom: 0%;
}

.textos h3 {
	padding-bottom: 5%;
    padding-bottom: 0%;
}
.banner {
    margin-top: 5%;
	border-radius: 10px;
	text-align: center;
	padding: 20px;
	background-size: cover;
	background-position: center center;
    width: 30%;
}

.banner ul {
	list-style: none;
}

.banner ul li {
	margin: 15px;
	font-weight: bold;
}

.banner .boton {
	background: #FFD600;
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	padding: 10px;
	border: none;
	border-radius: 100px;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

@media screen and (max-width: 900px) {
	
}

@media screen and (max-width: 700px) {
	
	.toggle{
        display: inline-block;
    }

    .links{
        position: absolute;
        display: flex;
        flex-direction: column;
        background: #021222;
        text-align: center;
        overflow: hidden;
        height: calc(100vh - 80px);
        width: 100%;
        z-index: -2;
        top: -100vh;
        transition: .5s;
    }

    .active{
        top: 80px;
    }

    .links .links:hover{
        background: #051c38;
    }

}

@media screen and (max-width: 600px) {

}